COUNTERPARTY_CHECK_URL=http://1c-server.example/gke/hs/CounterpartyCheck/check
COUNTERPARTY_CHECK_LOGIN=
COUNTERPARTY_CHECK_PASSWORD=
COUNTERPARTY_CHECK_TIMEOUT_SECONDS=15

CONNECT_API_LOGIN=
CONNECT_API_PASSWORD=
CONNECT_AGENT_LOGIN=
CONNECT_BOT_SPECIALIST_ID=
CONNECT_LINE_ID=
